@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-default: #3e7b27;
  --color-primary-dark: #123524;
  --color-primary-light: #85a947;

  --color-secondary-default: #cbd2a9;
  --color-secondary-light: #eaeedb;

  --color-neutral-100: #fffdf4;
  --color-neutral-200: #ffffff;
  --color-neutral-700: #927f71;
  --color-neutral-900: #504840;

  --animate-fade-in: fade-in 0.2s ease-in-out;
  @keyframes fade-in {
    0% {
      transform: scale(0.95);
      opacity: 0.9;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  --animate-fade-down: fade-down 0.1s ease-in-out;
  @keyframes fade-down {
    0% {
      transform: translateY(-10px);
      opacity: 0.9;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --background: #eaeedb;
  --foreground: #504840;
}

html,
body {
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eaeedb;
    --foreground: #504840;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.speech-bubble {
  position: relative;
  background: #fffdf4;
  border: 3px solid #504840;
  border-radius: 0.4em;
  padding: 1rem;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  opacity: 90%;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;

  background: #fffdf4;
  border-left: 3px solid #504840;
  border-bottom: 3px solid #504840;
  transform: translateX(-50%) rotate(-45deg);
  z-index: 1;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 1px;
  background: #fffdf4;
  z-index: 2;
}

.scroll-box {
  scrollbar-width: thin; /* Firefox용 얇은 스크롤바 */
  scrollbar-color: #888 transparent; /* Firefox용: thumb, track */
  overflow: auto; /* 스크롤 활성화 */
}

/* WebKit 기반 브라우저용 */
.scroll-box::-webkit-scrollbar {
  width: 8px; /* 얇게 설정 */
}

.scroll-box::-webkit-scrollbar-track {
  background: transparent; /* 트랙 투명 처리 */
}

.scroll-box::-webkit-scrollbar-thumb {
  background-color: #888; /* thumb 색상 */
  border-radius: 5px;
}

.scroll-box::-webkit-scrollbar-button:single-button {
  display: none;
  background: transparent;
  height: 0;
  width: 0;
}

.scroll-box::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
  background: transparent;
}
