@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eaeedb;
  --foreground: #504840;
}

html,
body {
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eaeedb;
    --foreground: #504840;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.speech-bubble {
  position: relative;
  background: #fffdf4;
  border: 3px solid #504840;
  border-radius: 0.4em;
  padding: 1rem;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  opacity: 90%;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;

  background: #fffdf4;
  border-left: 3px solid #504840;
  border-bottom: 3px solid #504840;
  transform: translateX(-50%) rotate(-45deg);
  z-index: 1;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 1px;
  background: #fffdf4;
  z-index: 2;
}

.fade-in {
  animation: fade-in 0.3s ease-in-out;
}

.fade-out {
  animation: fade-out 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0.7;
    transform: translateX(-200px) translateY(-50%);
  }
  to {
    opacity: 0.9;
    transform: translateX(0) translateY(-50%);
  }
}

@keyframs fade-out {
  from {
    opacity: 0.9;
    transform: translateX(0) translateY(-50%);
  }
  to {
    opacity: 0.7;
    transform: translateX(-200px) translateY(-50%);
  }
}
