@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eaeedb;
  --foreground: #504840;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eaeedb;
    --foreground: #504840;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
